### Налаштування для запуску WEB сервера на Windows (Waitress)
# WEB_HOST=localhost    # default value if is not specified =0.0.0.0
# WEB_PORT=80      # default value if is not specified =8000  
# WEB_THREADS=8     # default value if is not specified =6

# Налаштування Django
SECRET_KEY="django-insecure-key-paste-here"
# ALLOWED_HOSTS=192.168.0.109     # default value if is not specified ='*'
# CSRF_TRUSTED_ORIGINS=http://isloc.net:8282,http://localhost:8282    # default value if is not specified ='*'

DB_TYPE=sqlite       # default value if is not specified =sqlite
USE_REDIS=False     # default value if is not specified =True
DEBUG=True        # default value if is not specified =False

# DB_TYPE=mysql       # default value if is not specified =sqlite
# USE_REDIS=True     # default value if is not specified =True
# DEBUG=False        # default value if is not specified =False

# Налаштування для контейнера MariaDB
MYSQL_DATABASE=msqldb1         # default value if is not specified =msqldb1
MYSQL_USER=mysql_user            # default value if is not specified =''
MYSQL_PASSWORD=mysql_pass          # default value if is not specified =''
MYSQL_ROOT_PASSWORD=mysql_root_pass         # default value if is not specified =''
MYSQL_HOST=some_IP     # default value if is not specified =localhost
MYSQL_PORT=3306      # default value if is not specified =3306


