{% extends 'base.html' %}
{% load static %}
{% load search %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}

<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{{ title }}</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <a href="{% url 'contact_create' %}" class="btn btn-success">
                    <i class="bi bi-plus-lg"></i> {{elems.add}}</a>
            </div>
            <div class="col-lg-6">
                {% search_field 'contacts' %}
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <br>

        <div class="row">
            {% if items.exists %}
            <div class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            {% for cn in columnames %}
                            <th scope="col">{{cn}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="row">{{item.pk}}</th>
                            <td><a href="{{ item.get_absolute_url }}">{{item.name}}</a></td>
                            <td>
                                {% if item.phone1 is not None %}{{item.phone1}}{% endif %}
                                {% if item.phone2 is not None %}, {{item.phone2}}{% endif %}
                                {% if item.phone3 is not None %}, {{item.phone3}}{% endif %}
                            </td>
                            <td>{{item.email}}</td>
                            <!-- {% for key, value in client_type.items %}
                                {% if key == item.type %}
                                <td>{{value}}</td>
                                {% endif %}
                                {% endfor %} -->
                            <td><a href="{{ item.client.get_absolute_url }}">{{item.client}}</a></td>
                            <td>{{item.position}}</td>
                            <td>{{item.order}}</td>
                            <td>{{item.comment}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ item.get_absolute_url }}" class="btn btn-outline-secondary btn-sm"><i
                                            class="bi bi-eye-fill"></i></a>
                                    <a href="{{ item.get_absolute_url_for_update }}"
                                        class="btn btn-outline-secondary btn-sm"><i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a href="{{ item.get_absolute_url_for_delete }}"
                                        class="btn btn-outline-secondary btn-sm"><i class="bi bi-x-square-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        {% include 'inc/_pagination.html' %}


    </div>

</section><!-- /About Section -->





{% endblock %}